@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.skill-per {
    position: relative;
    display: block;
    height: 2px;
    border-radius: 30px;
    background: #ffb400;
    animation: progress 0.4s ease-in-out forwards;
    opacity: 0;
}

@keyframes progress {
    0% {
        width: 0;
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}
.hero-img {
    background-image: url("./assets/image/sohan.png");
    width: 25rem;
    height: 25rem;
    background-size: cover;
    background-position: contain;
    background-repeat: no-repeat;
    border: 3px solid #767676;
    animation: morph 8s ease-in-out infinite;
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    position: relative;
    transition: all 1s ease-in-out;
    background-color: #ffb80d;
}
@media (max-width: 500px) {
    .hero-img {
        width: 20rem;
        height: 20rem;
    }
}
@keyframes morph {
    0% {
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }
    50% {
        border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
    }
    100% {
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }
}
